<div class="navbar container-fluid  ">
    <mat-toolbar class="toolbar">
  
      <h1 class="logo fw-bolder">Khaao<i class="fa-solid fa-utensils fa-sm" style="color: #ffffff;"></i></h1>
      <div class="nav">
        <a routerLink=""class="nav-link">Home</a>
        <!-- <a routerLink="" class="nav-link">About</a> -->
        <!-- <a routerLink="" class="nav-link">Contact</a> -->
        <a routerLink="Product"  class="nav-link">Products</a>
        <a routerLink="Orders"  class="nav-link">Orders</a>
      </div>
      
      <div class="right-nav mt-2">
          <a routerLink="Cart" class="cart " aria-label="Example icon-button with heart icon"  >
            <i class="fa-sharp fa-solid fa-cart-shopping fa-xl " style="color: #ffffff;"></i>
          </a>
        <a   routerLink="Login" class="login"  *ngIf="!islogged" color="accent" aria-label="Example icon-button with heart icon">
          Login
        </a>
        <a routerLink="Register"  *ngIf="!islogged" class="register" color="accent">
          Register
        </a>
        <a routerLink="" *ngIf="islogged" class="register" color="accent">
          Logout
        </a>
        
      </div>
  
    </mat-toolbar>
  </div>
