<div class="navbar container-fluid  ">
    <mat-toolbar class="toolbar">
  
      <h1 class="logo">E-HOTEL</h1>
      <div class="nav">
        <a routerLink=""class="nav-link">Home</a>
        <a routerLink="" class="nav-link">About</a>
        <a routerLink="" class="nav-link">Contact</a>
        <a routerLink="Product" class="nav-link">Recipes</a>
      </div>
      <div class="right-nav mt-2">
        <!-- <span class="example-spacer"></span> -->
        <a routerLink="Cart" class="cart " aria-label="Example icon-button with heart icon">
          <i class="fa-sharp fa-solid fa-cart-shopping fa-xl " style="color: #ffffff;"></i>
        </a>
        <a routerLink="Login" class="login" color="accent" aria-label="Example icon-button with heart icon">
          Login
        </a>
        <a routerLink="Register" class="register" color="accent">
          Register
        </a>
      </div>
  
    </mat-toolbar>
  </div>
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-register></app-register> -->
  
  <!-- <app-login></app-login>  -->
  
  <!-- 
  <app-cart></app-cart> -->
  <!-- <app-product></app-product> -->