
<section class="product-section">


<div class="container">
    <div class="row">
      <h3 class="mb-3 product-head">Order your Favourite Food Online....</h3>
      <hr>
        <div class="col-md-3"*ngFor="let product of products" >
          <mat-card class="example-card mt-3"  >
           
            <img mat-card-image src="assets/img/food1.avif" alt="Photo of a Shiba Inu">
            <mat-card-title class="titile px-3">{{product.productName}}</mat-card-title>
                <mat-card-subtitle class="price px-3"><h5>${{product.price}}</h5></mat-card-subtitle>
                <mat-card-subtitle class="desc px-3"><span>{{product.productDesc}} amet consectetur adipisicing elit. Vero, debitis loremipusuem sodium isudgi</span></mat-card-subtitle>
            <button mat-raised-button color="accent" class="addtocart " >Add to Cart</button>
          </mat-card>
        </div>

      
    </div>
</div>
</section>


