
<section class="product-section">


<div class="container">
    <div class="row">
      <h3 class="mb-3 product-head">Order your Favourite Food Online....</h3>
        <div class="col-md-3">
          <mat-card class="example-card">
           
            <img mat-card-image src="assets/img/food1.avif" alt="Photo of a Shiba Inu">
            <mat-card-title class="titile px-3">fries and Sause</mat-card-title>
                <mat-card-subtitle class="price px-3"><h5>price-$209</h5></mat-card-subtitle>
                <mat-card-subtitle class="desc px-3"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, debitis.</span></mat-card-subtitle>
            <mat-card-content>
              <p>
                
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" class="addtocart me-3">Add to Cart</button>
              <button mat-raised-button color="primary" class="viewmore">View more</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="col-md-3">
          <mat-card class="example-card">
           
            <img mat-card-image src="assets/img/food5.avif" alt="Photo of a Shiba Inu">
            <mat-card-title class="titile px-3">Fast Food center </mat-card-title>
                <mat-card-subtitle class="price px-3"><h5>price-$209</h5></mat-card-subtitle>
                <mat-card-subtitle class="desc px-3"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, debitis.</span></mat-card-subtitle>
            <mat-card-content>
          
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" class="addtocart me-3">Add to Cart</button>
              <button mat-raised-button color="primary" class="viewmore">View more</button>
            </mat-card-actions>
          </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="example-card">
           
          <img mat-card-image src="assets/img/food3.avif" alt="Photo of a Shiba Inu">
          <mat-card-title class="titile px-3">Tava Pulav</mat-card-title>
              <mat-card-subtitle class="price px-3"><h5>price-$209</h5></mat-card-subtitle>
              <mat-card-subtitle class="desc px-3"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, debitis.</span></mat-card-subtitle>
          <mat-card-content>
            <p>
              
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" class="addtocart me-3">Add to Cart</button>
            <button mat-raised-button color="primary" class="viewmore">View more</button>
          </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="example-card">
         
        <img mat-card-image src="assets/img/food4.avif" alt="Photo of a Shiba Inu">
        <mat-card-title class="titile px-3"> Chicken Biryani</mat-card-title>
            <mat-card-subtitle class="price px-3"><h5>price-$209</h5></mat-card-subtitle>
            <mat-card-subtitle class="desc px-3"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, debitis.</span></mat-card-subtitle>
        <mat-card-content>
          <p>
            
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" class="addtocart me-3">Add to Cart</button>
          <button mat-raised-button color="primary" class="viewmore">View more</button>
        </mat-card-actions>
      </mat-card>
  </div>
    </div>
</div>
</section>