<section class="home-section">

    <div class="container">
        <div class="row">
            <div class="col-md-6 home-text ">
                <h1>Enjoy Your Meals with us at Greater Prices.!!!</h1>
                <p>Make sure your order and get easily with few minutes your best food item with us</p>
                <button routerLink="/Product"  mat-raised-button  color="warn" class="order-button">Order Now</button>
            </div>
            
            <div class="col-md-6 home-img">
                <img src="assets/img/home.avif" style="width: 600px;" alt="">
            </div>
        </div>
    </div>
</section>